input[type=text]{
	width: 70%; 
}

body{
	margin-left: 23px; 
	margin-right: 23px; 
	margin-top: 23px;
	background-color: rgba(235, 235, 235, 0.16);
}


.navbar-inverse {
	background-color: #3d3d3d;
	border-color: #3d3d3d;
	
}
.navbar>.container .navbar-brand {
	margin-left: -15px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	background-color: #3d3d3d;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
}

.navbar .nav > li > a {
	padding: 13px 10px 16px;
	font-size: 13px;
	font-weight: 400;
}

.mycontainer{
	margin-top: 53px;
}

.mycontainer h2{
	color: #4183c4;
	font-weight: bold;
}